.prompt {
	transition: transform .2s, display 0 .2s;
}

.back-to-prompts {
	display: none;
}

.stories {
	display: none;
}

.viewing-stories .prompt:not(.selected) {
	transform: scale(0);
	display: none;
}

.viewing-stories .back-to-prompts {
	display: inline;
}

.viewing-stories .stories {
	display: block;
}
