.prompt {
	transition: transform .2s, display 0 .2s;
}

.prompt + .prompt {
	border-top: 1px solid #ddd;
}

.back-to-prompts {
	display: none;
}

.read-on-reddit {
	display: none;
}

.stories {
	display: none;
}

.viewing-stories .back-to-prompts {
	display: inline;
}

.viewing-stories .read-comments {
	display: none;
}

.viewing-stories .read-on-reddit {
	display: inline;
}

.viewing-stories .stories {
	display: block;
}
