/*.story {
	font-size: 16px;
	line-height: 1.5;
	background: #fff;
	padding: 2em 3em;
	border-bottom: 3px solid #999;
}*/

.story {
	background: #fff;
	padding: 4em;
	border-radius: 4px;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.story + .story {
	margin-top: 4em;
}

.story-reading-time {
	float: right;
}

.edit-note {
	background: rgba(0,0,0,.05);
	padding: 1em;
	text-align: left;
	border-radius: 4px;
}

article {
	counter-reset: chapter-counter;
}

.md {
	text-align: justify;
	counter-increment: chapter-counter;
}

.md:before {
	content: 'Chapter ' counter(chapter-counter);
	color: #999;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-family: "Open Sans"; 
	font-weight: 800;
	font-size: .874em;
}

.md:first-of-type:last-of-type:before {
	display: none;
}