/*.story {
	font-size: 16px;
	line-height: 1.5;
	background: #fff;
	padding: 2em 3em;
	border-bottom: 3px solid #999;
}*/

.story {
	background: #fff;
	padding: 4em;
	border-radius: 4px;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

.story + .story {
	margin-top: 4em;
}

.story-reading-time {
	float: right;
}

.md + .md:before {
	content: '...continued';
	color: #999;
}

.edit-note {
	background: rgba(0,0,0,.05);
	padding: 1em;
	text-align: left;
}