* {
	box-sizing: border-box;
}


body { 
	padding: 0; 
	font-size: 16px; 
	line-height: 1.5; 
	font-family: Merriweather; 
	font-weight: 400; 
	font-style: normal;
	background: #FFFAFD; 
} 

.main { 
	margin: 0 auto; 
	padding: 1em; 
	max-width: 36em; 
} 

section {
	padding: 2em;
}

.prompt-title {
	color: #999;
	font-style: italic;
}

div.header { 
	text-align: center; 
} 

h1 { 
	font-family: "Open Sans"; 
	font-weight: 800; 
	font-style: normal; 
	color: #27272E; 
	font-size: 2.747em; 
	margin: 0; 
	margin-bottom: 1em;
	line-height: 1.1; 
	text-transform: uppercase; 
	text-align: center;
} 

h2 { 
	font-family: "Open Sans"; 
	font-weight: 400; 
	font-style: normal; 
	color: #27272E; 
	text-transform: uppercase; 
	border-top: 1px solid #ddd; 
	font-size: .874em; 
	text-align: center; 
	line-height: 1; 
	margin-top: 1.953em; 
} 

span.h1-span { 
	font-family: "Merriweather"; 
	font-weight: 700; 
	font-style: italic; 
	font-size: 0.63em; 
	display: block; 
	margin: 1em auto 0 auto; 
	text-transform: none; 
} 

span.h2-span { 
	background: #FFFAFD; 
	position: relative; 
	top: -.45em; 
	padding: 0 5%; 
	margin-top: -1em; 
	font-family: "Open Sans"; 
	font-weight: 800; 
	font-style: normal; 
} 

h3 { 
	font-style: italic; 
	font-weight: 700; 
	font-size: 1.229em; 
	margin: 1em 0 .25em 0; 
} 

p { 
	margin-bottom: 1em; 
}

article {
	padding-top: 1em;
	padding-bottom: 1em;
	word-wrap: break-word;
}

header,
footer {
	color: #999;
}