* {
	box-sizing: border-box;
}


body { 
	padding: 0; 
	font-size: 16px; 
	line-height: 1.5; 
	font-family: Merriweather; 
	font-weight: 400; 
	font-style: normal;
	color: #333;
	transition: background .5s;
	background: #e8e8e8;
}

body.viewing-stories {
	background: #f4f4f4; 
}

.viewing-stories .main { 
	margin: 0 auto;  
	max-width: 44em; 
} 

section {
	padding: 2em;
}

.prompt-title {
	color: #555;
	font-style: normal;
}

div.header { 
	text-align: center; 
} 

h1 { 
	font-family: "Open Sans"; 
	font-weight: 800; 
	font-style: normal; 
	color: #27272E; 
	font-size: 2.747em; 
	margin: 0; 
	margin-bottom: 1em;
	line-height: 1.1; 
	font-variant: small-caps; 
	text-align: center;
} 

h2 { 
	font-family: "Open Sans"; 
	font-weight: 400; 
	font-style: normal; 
	color: #27272E; 
	text-transform: uppercase;
	font-size: .874em; 
	text-align: center; 
	line-height: 1; 
} 

span.h1-span { 
	font-family: "Merriweather"; 
	font-weight: 700; 
	font-style: italic; 
	font-size: 0.63em; 
	display: block; 
	margin: 1em auto 0 auto; 
	text-transform: none; 
} 

span.h2-span,
h2 strong { 
	position: relative; 
	top: -.45em; 
	padding: 0 5%; 
	margin-top: -1em; 
	font-family: "Open Sans"; 
	font-weight: 800; 
	font-style: normal; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

h3 { 
	font-style: italic; 
	font-weight: 700; 
	font-size: 1.229em; 
	margin: 1em 0; 
} 

p { 
	margin-bottom: 1em; 
}

a {
	text-decoration: none;
	color: #077;
}

a:hover {
	border-bottom: 1px solid;
}

article {
	padding-top: 1em;
	padding-bottom: 1em;
	word-wrap: break-word;
	text-align: left;
	margin: 1em;
	position: relative;
}

header,
footer {
	color: #999;
}

hr {
	width: 60%;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #fff, #ccc, #fff);
}

.main-header {
	text-align: center;
}

.more {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
}

.just-viewing {
	display: none;
}

.viewing-stories .just-viewing {
	display: initial;
}

figure {
	text-align: center;
	margin: 0;
}

img {
	max-width: 100%;
}

[data-gilded]:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 1em solid gold;
	border-left: 1em solid gold;
	border-right: 1em solid transparent;
	border-bottom: 1em solid transparent;
}